[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
gpiod = "2.2.2"
gpiozero = "2.0.1"
lgpio = "0.2.2"
polint = "0.5"
Kodistubs = "*"
smbus = "*"

[requires]
python_version = "3.12"
